<div class="routes">
    <div class="panel-group route" [attr.id]="'accordion_' + i" *ngFor="let route of routesList; let i = index;">
        <div class="panel panel-default" >
            <div class="panel-heading">
                <p class="dests" style="font-size: 22px">{{route.startStation}} &#8594; {{route.destStation}}</p>
                <img id="routeimg" src="../../assets/{{route.startStation}}{{route.destStation}}.png" />
                <p class="desc"><span>Train:</span> {{route.train.name}}</p>
                <p class="desc"><span>Seats:</span> {{route.train.capacity}}</p>
                <input *ngIf="this.authService.isLoggedIn()" class="btn" type="button" value="Reserve Me" ng-click="resTicket()">
            <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="route-times">
                        <li *ngFor="let trip of route.trips | slice:0:10">
                            <span>{{trip[0] | date : 'EEE, LLL d, H:mm'}}</span><span>to</span><span>{{trip[1] | date : 'H:mm'}}</span>
                        </li>
                    </ul>
                </div>
            </div>
</div>
