.panel {
  min-width: 500px;
}

.routes { 
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
    -webkit-column-count:2 !important; -webkit-column-gap: 1rem !important;
    -moz-column-count:2 !important; -moz-column-gap: 1rem !important;
    -o-column-count:2 !important; -o-column-gap: 1rem !important;
    column-count:2 !important; column-gap: 1rem !important;
    list-style-position: inside !important;
}

.routes .dests{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.routes .route {
    width: 100%;
    margin-bottom: 1rem;
}

.routes .desc{
    margin-left: 1rem;
    margin-right: 1rem;
}

.routes span#upcoming{
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.route-times li{
    width: auto;
    list-style: none;
}
