.routes { 
    width: 1000px; 
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

.routes {
    -webkit-column-count:2 !important; -webkit-column-gap: 20px !important;
    -moz-column-count:2 !important; -moz-column-gap: 20px !important;
    -o-column-count:2 !important; -o-column-gap: 20px !important;
    column-count:2 !important; column-gap: 20px !important;
    list-style-position: inside !important;
}

.routes #dests{
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px #FFF solid;
    margin-bottom: 5px;
    font-size: 1.5em !important;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.routes .route {
    border-top: 2px #F00 solid;
    width: 100%;
    background-color: rgba(60, 60, 60, .8);
    margin: 10px 0px 10px 0px;
}

.routes .route .panel-heading{
    padding: 0px;
    padding-bottom: 5px;
}

.route #routeimg{
    width: 100%;
    height: auto;
    display: block;
    margin: 0px;
    padding: 0px;
}

.routes .route:first-of-type{
    margin-top: 0px;
}

.routes .route:last-of-type{
    margin-bottom: 0px;
}

.routes .panel-heading{
    padding: 5px;
}

.routes p { 
    padding: 2px; 
    font-style: normal; 
    font-family: 'Crete Round', serif;
    font-size: 18px !important; 
    color: #eee !important;    
}

.routes .desc{
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    background-color: #222;
}

.routes span#upcoming{
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
    background-color: #222;
    padding-top: 5px;
    cursor: pointer;
}

.route-times{
    background-color: #222;
    padding: 5px;
    margin: 0px;
}

.route-times li{
    width: auto;
    background-color: #000;
    margin: 5px;
    list-style: none;
}

.route-times li:first-of-type{
    margin-top: 5px;
}

.route-times li:last-of-type{
    margin-bottom: 5px;
}