<div class= "routes">
    <div class="panel-group route" [attr.id]="'accordion_' + i" *ngFor="let trip of trips; let i = index;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="dests">{{trip.startStation}} &#8594; {{trip.destStation}}</p>
                <img id="routeimg" src="../../assets/{{trip.startStation}}{{trip.destStation}}.png" />
                <p class="desc"><span>Time:</span> {{trip.startTime | date : 'EEE, LLL d, H:mm'}} &#8594;
                    {{trip.destTime | date : 'EEE, LLL d, H:mm'}}</p>
            </div>
        </div>
    </div>
</div>